body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  #urlInput,
  button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
  }
  
  #screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #screenshots img {
    margin: 10px;
    max-width: 400px;
    max-height: 300px;
  }