body {
    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input[type='number'],
  select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
  }
  input[type='number']:focus,
  select:focus {
    outline: none;
    border-color: #0099ff;
  }
  #result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }